<h1 class="project-title"><%= @project.name %></h1>

<ul class="button-group">
  <% if policy(@project).update? %>
    <li><%= link_to 'Edit', edit_project_path(@project), :class => 'tiny button' %></li>
  <% end %>
  <% if policy(@project).delete? %>
    <li><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button' %></li>
  <% end %>
</ul>

<p class="technologies">Technologies used: <%= @project.technologies_used %></p>

<div class="image"><img src="<%= @project.image.url %>" id="project-image" /></div>

<h3>Comments</h3>

<%= render 'comments/comments' %>

<h4>Post A Comment</h4>
<%= render 'comments/form' %>
