<h1>Listing posts</h1>
<div class="medium-8 columns">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% policy_scope(@posts).each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td><ul class="button-group">
            <li><%= link_to 'Show', post, :class => 'tiny button' %></li>
            <% if policy(post).update? %><li><%= link_to 'Edit', edit_post_path(post), :class => 'tiny button' %></li><% end %>
            <% if policy(post).delete? %><li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button' %></li><% end %>
            </ul></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if policy(@posts).create? %>
  <div class="medium-4 columns">
    <%= link_to 'New Post', new_post_path, class: "button radius" %>
  </div>
<% end %>
