<% unless @post.published? %>
  <p class="alert-box">Currently Unpublished</p>
<% end %>

<h1><%= @post.title %></h1>
<ul class="button-group">
  <% if policy(@post).update? %>
    <li><%= link_to 'Edit', edit_post_path(@post), :class => 'tiny button' %></li>
  <% end %>
  <% if policy(@post).publish? && !@post.published %>
    <li><%= link_to "Publish", post_path(post:{published: true}), method: :put, :class => 'tiny button' %></li>
  <% end %>
</ul>

<p class="byline">
  Written by <span class="author"><%= @post.author.email %></span>
</p>

<p><%= @post.body %></p>

<h3>Comments</h3>

<%= render 'comments/comments' %>

<h4>Post A Comment</h4>
<%= render 'comments/form' %>
