<% unless @post.published? %>
  <p class="alert-box">Currently Unpublished</p>
<% end %>

<h1><%= @post.title %></h1>
<% if policy(@post).update? %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<% if policy(@post).publish? && !@post.published %>
  &nbsp;| <%= link_to "Publish", post_path(post:{published: true}), method: :put %>
<% end %>

<p id="author">
  Written by <span class="author"><%= @post.author.email %></span>
</p>

<p><%= @post.body %></p>

<%= render 'comments/form' %>
